:local(.searchBar) {
  display: flex;
  position: relative;

  .mui-textfield {
    flex: auto;
  }

  .mui-btn {
    padding: 0 9px;
    position: relative;
    top: 6px;
    height: 30px;
    line-height: 30px;
  }

  .btn-clear {
    position: absolute;
    right: 30px;
    top: 6px;
  }
}
